.App {
  text-align: center;
}

.App-header {
  background-color: #011744;
  padding: 20px;
  color: white;
}

.deck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  background-color: #95dff3;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

.board {
  margin-top: 20px;
}
